/** reference this css file after docs.css, these are overrrides of the main styles. **/
h1, h2, h3, h4, h5, h6
{
	font-weight: 100;
	margin: 0px;
}

img.progress {height:10px;}


div.cell{
	float:left;
	width:auto;
	margin-right:5px;
}

h4.contents {
	margin-top:15px;
	font-weight:100;
}

img.bullet {
	height:25px;
	vertical-align: middle;
}

div.related {
	float:right;
	text-align:center;
	cursor:pointer;
	padding:5px;
	background-color:#fcaf17;
	margin-top:20px;
	color:#FFF;
	font-weight:bold;
}


div.related span.dark {
	font-weight:700;
}

div#subtitle {
	color:#00A7E4;
}

table#pane2table td, table#pane3table td, table#pane4table td, table#pane5table td {
	vertical-align: bottom;
	width:50%;
	font-size:11px;
}

div#type {
	font-weight:bold;
	width:100%;
	float:left;
	font-size:14px !important;
}

td div#amount {
	padding-left:5px;
	padding-bottom:5px;
	float:left;
}

tr.clusters td, tr.projects td {
	font-size:14px !important;
}

