html, body
{
	padding: 0;
	margin: 0;
}
body {
	background-color: #ABE0F9;
	font-family: Arial, Helvetica, Verdana;
	font-size: 14px;
	color: #333;
	-webkit-text-size-adjust: none;
}
h1, h2, h3, h4, h5, h6
{
	line-height: 1;
	color: #330;
	font-weight: bold;
	margin: 10px 0 10px 0;
}
h1, h2, h3
{
	font-size: 18px;
}
h4, h5, h6
{
	font-size: 16px;
}
p
{
	margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
	color: #333;
	text-decoration: underline;
}
pre
{
	font-size: 12px;
	width: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#page nav
{
	display: none;
}

#header,
.header
{
	background-color: #026BB5;
	background-size: 100%;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	text-align: center;
	line-height: 40px;
	height: 40px;
	padding: 0 50px;
}
#header a,
.header a
{
	background: center center no-repeat transparent;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAE1JREFUeNpi/P//PwOtARMDHQBdLGFBYt+nkR2KjEhxQqvIYaR7cD2glSWMo0mY3DiJo5Edi4ZPEqZ7nMSP5pPRon60qB9NwpQDgAADAMIxHUJvWs/TAAAAAElFTkSuQmCC);

	display: block;
	width: 40px;
	height: 40px;
	position: absolute;
	top: 0;
	left: 10px;
}
#header a.right,
.header a.right
{
	left: auto;
	right: 10px;
}
#content,
.content
{
	padding: 10px 0px 10px 10px;
}

img#logo {
	height:40px;
	position:absolute;
	right:0px;
}
/*
div#overview {
	width:250px;
	margin-right:auto;
	margin-left:auto;
	border:solid red 1px;
	padding:5px;
}*/


/**** general font colors ****/
.dark {	color:#026BB5 !important;}  /** alt: #0f6cb6 **/
.light {	color:#66BAFF !important;}
.mediumlight{ color:#00A7E4 !important;}
.mediumdark{color:#0094cc !important;}

/** home page ***/
h3.overview {
	color:#FFF;
	margin:0px;
	font-weight:100;
	font-size:30px;
}

h4.overview{
	color:#FFF;
	margin:0px;
	font-weight:100;
	font-size:12px;
}

div.overviewtopleft {
	float:left;
	width:50%;
}

div.overviewtopright {
	float:left;
	width:50%;
	text-align:right;
}

td#overviewbottomleft {
	width:25%;
	text-align:right;
}

td#donut{
	width:50%;
	text-align:center;
	height:250px;
}

td#overviewbottomright {
	width:25%;
	text-align:left;
}

table.overview {width:100%;}
table.overview tr{vertical-align:middle;}

/*** grid of appeals/emergencies ***/
div#tablediv{
	float:left;
	width:100%;
}

table#appeals{
	margin-left: auto;
	margin-right: auto;
	border-spacing:15px;
	table-layout: fixed;
        word-wrap: break-word;
        width:100%;
}


table#emergencies{
	margin-left: auto;
	margin-right: auto;
	border-spacing:15px;
	table-layout: fixed;
        word-wrap: break-word;
        width:100%;
}

table#emergencies tr {
	border:none;
	background-color:rgba(255, 255, 255, 0.5);
	vertical-align: bottom;
}

/***  Grid elements **/
td.grid {
	border:none;
	width:50%;
	font-size:11px;
	padding: 8px;
	vertical-align: bottom;
	background-color:rgba(255, 255, 255, 0.5);
}

td.clickable {cursor:pointer;}

td div.title {
	font-weight:bold;
	width:100%;
	float:left;
	font-size:14px !important;
}

td div.percent {
	text-align:left;
	float:left;
	width:auto;
	padding-right:10px;
}

td div.request {
	text-align:left;
	float:left;
	width:auto;
}

td div.funding {
	float:left;
}

td div strong {
	font-size:16px;
	font-weight:100;
}

/*** generic group row **/
div.grouprow {
	width:100%;
	float:left;
}

/**** progressbar ***/
div.progressbar {
	text-align:left;
	height:30px !important;
	width:100%;
	padding :2px 0px;
	float:left;
}

svg#progressbar, svg#donut{
    width: 98%;
}


